*{
    margin: 0;
    padding: 0;
}

h1{
    color: white ;
    margin-top: 15px;
}
body{
    background-color: #210B2C;
    text-align: center;
}

.container{
    height: 70%vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    background-color: #FFF8F0;
    width: 18vmin ;
    border-radius: 1rem;
    border: none;
    font-size: 10vmin;
    color: #FF0800;
    
}

#reset-btn{
    margin-top: 55px;
    padding: 1rem;
    font-size: 1.25rem;
    color: white;
    background-color: #55286F;
 
}

#reset-btn:hover{
    background-color: yellowgreen;
    border: 3px solid darkgreen;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    color: white;
    background-color: #55286F;
}
#new-btn:hover{
    background-color: yellowgreen;
    border: 3px solid darkgreen;
}

#msg {
    color: #D8B4E2;
    font-size: 5vmin;
}

  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

  
.hide {
    display: none;
}